		body{
			background-color: #ccc;
		}
		#wrapper{
			margin: 100px auto;
			width: 400px;
			background-color: white;
			height: 300px;
			border: #ccc solid 1px;
			border-radius: 20px;
		}
		#bar{
			margin-top: 0px;
			height:50px;
			background-color: rgb(229,244,247);
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;
			margin-bottom: 30px;
			padding-top: 20px;
		}
		#bar h2{
			color: blue;
			margin: 0;
			padding: 0;
		}
		#msg span{
			color: red;
			font-style: italic bold;
		}