 #main{
      padding-bottom: 50px;
      font-size: 16px ;
      width: 760px;
    }
    
    ul li{
        list-style-type: none;
    }
    td{
       padding: 20px 15px 0 15px;
    }
    .time{
        float: right;
    }
    .postHead{
        border-bottom: 1px gray solid;
    }
    .title{
      color: blue;
    }
    .postBody{
        padding-top: 5px;
    }
    #backBox{
      padding-top: 10px;
      text-indent: 10px;
    }